spring:
  servlet:
    multipart:
      max-file-size: 5MB
      enabled: true



  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

#    password: 8834
#    url: jdbc:mysql://localhost:3308/chawchaw?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
#    username: root
    password: rla8834ok
      url: jdbc:mysql://chawchawdb.cjek1elpmvy4.ap-northeast-2.rds.amazonaws.com:3306/board?serverTimezone=UTC&characterEncoding=UTF-8
      username: admin
      

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: true

    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 88




  social:
    kakao:
      client_id: 32c46f0143a5d5d8314cbf8fd33572e1 # 앱생성시 받은 REST API 키
      redirect: /social/login/kakao
      url:
        login: https://kauth.kakao.com/oauth/authorize
        token: https://kauth.kakao.com/oauth/token
        profile: https://kapi.kakao.com/v2/user/me



  url:
    base: http://localhost:8080

  messages:
    basename: i18n/exception
    encoding: UTF-8
  jwt:
    secret: govlepel@$&

file:
#  path: C:\chawchaw\
  path: /home/ubuntu/chawchaw/




  mvc:
    view:
      prefix: /templates/
      suffix: .mustache

 